.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
}

.btn-sq {
    width: 100px !important;
    height: 100px !important;
    font-size: 10px;
}

.btn-sq-sm {
    width: 50px !important;
    height: 50px !important;
    font-size: 10px;
}

.btn-sq-xs {
    width: 25px !important;
    height: 25px !important;
    padding: 2px;
}


html, body {
    height: 100%;
}


.btn-dgreen.disabled,
.btn-dgreen[disabled],
fieldset[disabled] .btn-dgreen,
.btn-dgreen.disabled:hover,
.btn-dgreen[disabled]:hover,
fieldset[disabled] .btn-dgreen:hover,
.btn-dgreen.disabled:focus,
.btn-dgreen[disabled]:focus,
fieldset[disabled] .btn-dgreen:focus,
.btn-dgreen.disabled:active,
.btn-dgreen[disabled]:active,
fieldset[disabled] .btn-dgreen:active,
.btn-dgreen.disabled.active,
.btn-dgreen[disabled].active,
fieldset[disabled] .btn-dgreen.active {
    background-color: #0DB548;
    border-color: #026926;
}

.btn-dgreen .badge {
    color: #0DB548;
    background-color: #ffffff;
}

/*.columns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

    .columns div {*/
/* width: 100%;*/
/*width: 80%;
        height:80%;
    
    }*/

/*.col-25 {*/
/*float: left;
    width: 25%;*/
/*padding-bottom: 120px;
}*/

/*div, form, input, select, textarea, label {
    padding: 0;
    margin: 0;
   
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}*/

/*h1 {
    position: absolute;
    margin: 0;
    font-size: 50px;
    color: #fff;
    z-index: 2;
    line-height: 83px;
}*/

/*legend {
    padding: 10px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: #006622;
}

textarea {
    width: calc(100% - 12px);*/
/* padding: 5px;*/
/*}

.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 25px;
    height:50%;
}

form {
    width: 90%;
    height:50%;
    padding: 20px;
    border-radius: 6px;*/
/* background: #fff;
    box-shadow: 0 0 8px #006622;*/
/*}*/

/*.banner {
    position: relative;
    height: 250px;
    background-image: url("/uploads/media/default/0001/02/b23a2c8c49b8e43249487140e4c2e22a63bd7cb8.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}*/
