

legend {
    padding: 10px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: #006622;
}


form {
    width: 120%;
    padding: 5px;
    border-radius: 6px;
    /* background: #fff;
    box-shadow: 0 0 8px #006622;*/
}

.item span {
    color: red;
}

.btn-block {
    margin-top: 10px;
    text-align: center;
}

button {
    width: 125px;
    height: 36px;
    /* padding: 10px;*/
    border: none;
    border-radius: 5px;
    background: #006622;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

    button:hover {
        background: #00b33c;
    }
