
.Adh table {
    border: 1px solid white;
    border-collapse: collapse;
    width: 70%;
    text-align: center;
}

.Adh, td {
    padding: 5px;
}



::-webkit-input-placeholder {
    text-align: left;
}

.col-25 {
    float: left;
    width: 25%;
    padding-bottom:120px;
}



.tdpad {
    padding: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}


input[type=text], select, textarea {
     width: 100%;
     height:30px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

table {
    border-collapse: collapse;
    width: 80%;
}

/*.btn {*/
/*  background: none;*/
/*color: #FFFFFF;
    border: 0px solid;
    font-size: 23px;
    border-radius: 50px;
    padding: 5px;
    width: 100px;
    background-color: #4eb5f1;
    font-family: 'Roboto',sans-serif;*/
/*background-color: #f2f7a3;*/
/*}*/

/*
    .Adh input[type="text"]{
        background: none;
        padding: 3px;
        border: 1px solid #ccc;
         border: 1px solid blue;  Here use blue for textbox border
        width: 350px;
        border-radius: 10px;
        color: gray;
        text-align: center;
        font-size: 18px;
        outline: none;
    }*/